
        table {
            width: 100%;
            border-collapse: collapse;
        }

        /* Style table headers */
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
        /* Style table rows */
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        /* Style table cells */
        td, th {
            padding: 8px;
            border: 1px solid #ddd;
        }